<div class="app-footer">
  <div class="contact-info">
    <p>CONTACT INFO</p>
    <a id="contact-phone" href="tel:+1-262-720-1631">
      <p>+1 (262) 720-1631</p>
    </a>
    <a id="contact-email" href="mailto:mshalewski@dairyland.dev">
      <p>mshalewski&#64;dairyland.dev</p>
    </a>
    <div class="footer-legend">
      <a href="https://github.com/jagernet-ops" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/michael-shalewski" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://mastodon.social/@jagernet_ops" target="_blank">
        <i class="fa-brands fa-mastodon"></i>
      </a>
    </div>
  </div>
  <div class="page-reference">
    <p>PAGES</p>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">
          About
        </a>
      </li>
      <li>
        <a routerLink="/resume" routerLinkActive="active">
          Resume
        </a>
      </li>
      <li>
        <a routerLink="/projects" routerLinkActive="active">
          Projects
        </a>
      </li>
    </ul>
  </div>
  <div class="font-selector">

  </div>
  <img src="assets/images/logo.svg" alt="dairyland logo" id="logo">
</div>

