<div class="about-body">
  <img id="headshot" src="assets/images/headshot.jpg" />
  <h1>About Me</h1>
  <p>
  Hi my name is Michael Shalewski, I'm an aspiring software developer living in the midwest. I have been interested in technology for as long as I can remember and always look forward to new and exciting developments. I currently work at Northwestern Mutual part-time as a Software Engineering Intern while also attending <abbr title="Milwaukee School of Engineering">MSOE</abbr> as a major in Software Engineering. In my free time I love fishing around Pewaukee Lake, working on side projects to explore new technologies, and giving back to my community through volunteer work. I often volunteer for Milwaukee's <a href="https://www.hungertaskforce.org/donate/" target="_blank">Hunger Task Force</a>, as well as <a href="https://milwaukeeriverkeeper.org/donate/" target="_blank">Milwaukee River Keepers</a> and Penfield Children's Center's <a href="https://penfieldchildren.org/adaptive-toys/" target="_blank">Adaptive Toy Initiative</a>.
  </p>
  <div class="skills-section">
    <h1 id="skills">Skills & Areas of Interest</h1>
    <section>
    <img src="https://skillicons.dev/icons?i=react,jest,nodejs,npm,mysql,aws,neovim,deno,ts,angular,nestjs,postgres,linux,java,spring,maven,c,cmake&perline=6" alt="interests" />
    <p>
      Listed here are just a few technologies I am either proficient or take interest in. I try my best to document my progress as a developer through content tracking. Below is a commit graph of my recent activity on personal projects (Hopefully its green!). More information as to my professional experience may be found on my resume or on my LinkedIn.
    </p>
    </section>
    <gh-chart />
  </div>
    <div class="orgs">
      <img id="msoe" src="assets/images/msoe.png" />
      <img id="nm-column" src="assets/images/columns.png" />
      <img id="hunger-task-force" src="assets/images/mke-hunger-task-force.png" />
    </div>
</div>
