<div class="about-body">
  <img id="avatar" src="assets/images/headshot.jpg" />
  <p>
    Hi my name is Michael Shalewski, I'm an aspiring software developer living in the midwest. I have been interested in technology for as long as I can remember and always look forward to new and exciting developments. I currently work at Northwestern Mutual part-time as a Software Engineering Intern while also attending <abbr title="Milwaukee School of Engineering">MSOE</abbr> as a major in Software Engineering. In my free time I enjoy reading (mostly sci-fi/fantasy), fishing, working on side projects, and giving back to my community through volunteering.
  </p>
  <h2 id="skills">technical skills & areas of interest</h2>
  <div class="orgs">
    <img src="https://skillicons.dev/icons?i=react,jest,nodejs,npm,mysql,aws,neovim,deno,ts,angular,nestjs,postgres,linux,java,spring,maven,c,cmake&perline=6" alt="interests" />
    <gh-chart />
  </div>
  <div class="orgs">
    <img id="msoe" src="assets/images/msoe.png" />
    <img id="nm-column" src="assets/images/columns.png" />
  </div>
</div>
