<div class="ux-project">
  <h1>MSOE Mindset Project</h1>
  <img src="assets/images/mindset-graphic.jpg" alt="msoe mindset graphic" style="width: 25%;">
  <h2>Project Description:</h2>
  <p>
    For this project I alongside my fellow members of UX1001 were issued a design challenge. MSOE CREATE Institute has approached your team with a task to design a conceptual prototype of a game (board, mobile, web) that inspires MSOE current and prospective students to explore and cultivate the <a href="https://www.msoe.edu/the-msoe-mindset/msoemindset/" target="_blank">MSOE Mindset</a>. To tackle this challenge, our class was organized into groups to identify target user groups and develop our prototypes. During the initial stages of design, my group's focus was related to two documents a user persona as well as a journey map. Through the creation of these documents we felt prepared to proceed with the development of a product to best suit our users needs.
  </p>
  <p></p>
  <iframe
    src="https://drive.google.com/file/d/1MNrpCHU11GE8yHR7TRtn9XBmixp6mqR9/preview"
    width="1000"
    height="1000"
    allow="autoplay">
  </iframe>
  <h2>Deliverables:</h2>
  <p>
    The final deliverables for this project included both the identified personas and journey map alongside three resources. Those being the creation of a low fidelity prototype, a high fidelity refined prototype as well as a slideshow outlining our design process.
  </p>
  <iframe
    src="https://drive.google.com/file/d/1zOa5ezrI7i9F1VS5weNNc1OYZubZgsvL/preview"
    width="1000"
    height="1000"
    allow="autoplay">
  </iframe>
  <h2>Reflections:</h2>
  <p>
    The goal of the MSOE mindset project was to collaborate alongside a group of peers to produce the designs for an application to gamify embodying the values of the MSOE mindset. The time span provided to develop the expected deliverable documents was a month in length. Over this period, my fellow group members and I engaged in regular self reflection sessions to track progress and improve productivity. I spearheaded the development of my group’s high fidelity prototype collaborating with my team member Nicolas to produce the final design mock-up. Additionally, I served as my team’s informal scrum master, breaking up work into manageable chunks and delegating it accordingly while also maintaining a healthy line of communication as to the status of the work.
  </p>
  <h2>Status: <span style="text-decoration: solid white underline;">Completed!</span></h2>
</div>
