<div class="about-root">
  <div class="social-legend">
    <a href="https://github.com/jagernet-ops" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/michael-shalewski" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://mastodon.social/@jagernet_ops" target="_blank">
      <i class="fa-brands fa-mastodon"></i>
    </a>
    <a href="mailto:mshalewski@outlook.com" target="_blank">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
  <div class="about-body">
    <img id="headshot" src="assets/images/headshot.jpg" alt="Picture of Michael Shalewski" />
    <h1>
      "a dairyland dev"
    </h1>
    <h2 id="about">
      [about]
    </h2>
    <p>
    </p>
    <h2 id="skills">
      [skills & interests]
    </h2>
    <img src="assets/images/interests.svg" alt="interests" />
    <p>
    </p>
    <h2 id="projects">
      [projects and commits]
    </h2>
    <p>
    </p>
    <a href="https://github.com/jagernet-ops" target="_blank">
      <figure>
        <img src="http://ghchart.rshah.org/000000/jagernet-ops" alt="jagernet-ops commit history" />
        <figcaption>Recent Commit History</figcaption>
      </figure>
    </a>
  </div>
</div>
