<div class="header">
  <a routerLink="/" routerLinkActive="active">
    <img src="assets/images/logo.svg" alt="dairyland logo" id="logo">
  </a>
  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          Home
        </a>
      </li>
      <li>&#x2022;</li>
      <li>
        <a routerLink="/about" routerLinkActive="active">
          About Me
        </a>
      </li>
      <li>&#x2022;</li>
      <li>
        <a routerLink="/resume" routerLinkActive="active">
          Resume
        </a>
      </li>
      <li>&#x2022;</li>
      <li>
        <a routerLink="/project" routerLinkActive="active">
          Projects
        </a>
      </li>
    </ul>
  </nav>
</div>
