<nav>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        Home
      </a>
    </li>
    <li>&#x2022;</li>
    <li>
      <a routerLink="/about" routerLinkActive="active">
        About
      </a>
    </li>
    <li>&#x2022;</li>
    <li>
      <a routerLink="/resume" routerLinkActive="active">
        Resume
      </a>
    </li>
    <li>&#x2022;</li>
    <li>
      <a routerLink="/projects" routerLinkActive="active">
        Projects
      </a>
    </li>
  </ul>
</nav>
