nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 1% 0;
  overflow: hidden;
  text-align: center;
}

ul > li {
  display: inline-block;
  margin-left: 20px;
}

li > a {
  color: #FFFFFF;
  font-size: larger;
}
